{{#liquid-if notEqual class="magical"}}
    <p>Loading data...</p>
    <p>{{percent-bar rate=(get-percent total=total fraction=state) delay=0}}</p>
    <p>
    {{#if state}}
        {{state}}
    {{else}}
        0
    {{/if}}
        /
    {{#if total}}
        {{total}}
    {{else}}
        0
    {{/if}}
    </p>
{{else}}
    <p>Analyzing data...</p>
{{/liquid-if}}
{{loader-img show=true}}
