<div class="poll-title-group">
    <div class="poll-title">{{poll.question}}</div>
</div>
<div class="answers">
    <ul>
        {{#each poll.answers as |answer|}}
            <li>{{percent-bar rate=answer.rate}} {{answer.text}} <b>{{answer.votes}}</b></li>
        {{/each}}
    </ul>
</div>
<div class="total-votes">
    <div class="votes-counter">Отдано голосов: <b>{{poll.votes}}</b>.</div>
</div>