{{#if photos}}
<div class="album">
    {{#each photos as |photo|}}
        {{put-photo photo=photo length=(array-length photos)}}
    {{/each}}
</div>
{{/if}}
{{#if links}}
<div class="links">
    {{#each links as |link|}}
        {{put-link link=link}}
    {{/each}}
</div>
{{/if}}
{{#if videos}}
<div class="videos">
    {{#each videos as |video|}}
        {{put-video video=video}}
    {{/each}}
</div>
{{/if}}
{{#if audios}}
<div class="audios">
    {{#each audios as |audio|}}
        {{put-audio audio=audio}}
    {{/each}}
</div>
{{/if}}
{{#if sticker}}
    {{put-sticker sticker=sticker}}
{{/if}}
{{#if poll}}
    {{put-poll poll=poll}}
{{/if}}
{{#if doc}}
    {{put-doc doc=doc}}
{{/if}}