{{#if isLarge}}
    <div class="menu">
            <a class="closeImg" {{action 'toggleImageSize'}}>
                <i class="fa fa-remove"></i> 
                Закрыть
            </a>
        {{#if ifPrev}}
            <a class="prevImg" {{action 'previous'}}>
                <i class="fa fa-arrow-left"></i> Предыдущее
            </a>
        {{/if}}
        {{#if ifNext}}
            <a class="nextImg" {{action 'next'}}>
                <i class="fa fa-arrow-right"></i> Следующее
            </a>
        {{/if}}
    </div>
{{/if}}
<a class="img-resize" {{action 'toggleImageSize'}}>
    {{#if isLarge}}
        {{lazy-image url=photo.large class=imgClass}}
    {{else}}
        {{lazy-image url=photo.photo604 class=imgClass}}
    {{/if}}
</a>
{{#if isLarge}}
    <div class="sideControls" {{action 'toggleImageSize'}}>
        {{#if ifPrev}}
            <a class="sidePrevImg pull-left" {{action 'previous'}}>
                <i class="fa fa-arrow-left"></i>
            </a>
        {{/if}}
        {{#if ifNext}}
            <a class="sideNextImg pull-right" {{action 'next'}}>
                <i class="fa fa-arrow-right"></i>
            </a>
        {{/if}}
    </div>
{{/if}}