<div class="user">
{{#unless simple}}<p class="time">{{get-date comment.date}}</p>{{/unless}}
<a href="http://vk.com/{{define-poster user=comment.user.id group=comment.group.screenName}}">
{{#if simple}}
        <object class="user-overlay s50">
    {{#if comment.user}}
        <img class="img-circle" src="{{comment.user.photo50}}" onerror="this.style.display='none'">
    {{else}}
        <img class="img-circle" src="{{comment.group.photo50}}" onerror="this.style.display='none'">
    {{/if}} 
        </object>
{{else}}
        <object class="user-overlay s100">
    {{#if comment.user}}
        <img class="img-circle" src="{{comment.user.photo100}}" onerror="this.style.display='none'">
    {{else}}
        <img class="img-circle" src="{{comment.group.photo100}}" onerror="this.style.display='none'">
    {{/if}}
        </object>
{{/if}}
{{#if simple}}
    {{#if (eq comment.user.online '1')}}
    <span class="online"></span>
    {{/if}}
{{/if}}
</a>
{{#if comment.user}}
    <a class="name" href="http://vk.com/id{{comment.user.id}}">{{comment.user.fullName}}</a>
{{else}}
    <a class="name" href="http://vk.com/{{comment.group.screenName}}">{{comment.group.screenName}}</a>
{{/if}}
</div>
<p>
    {{#unless simple}}
        {{#if comment.replyToComment}}
            {{#if comment.replied}}
                <a {{action "jumpTo" comment.replyToComment}}><i class="fa fa-reply"></i></a>
            {{/if}}
        {{/if}}
    {{/unless}}
    {{{reply-to-link (text-to-link comment.text) replyTo=comment.replyToUser fullname=comment.replied.fullName}}}
</p>
{{#if comment.attachments}}{{put-attachments attachments=comment.attachments}}{{/if}}
{{#if isLikes}}
    <div class="stats"><div class="likes"><i class="fa fa-heart-o"></i> {{comment.likes}}</div></div>
{{/if}}