<p class="time">{{get-date post.date}}</p>
<p class="linkToPost">{{#link-to 'post' post.id}}<i class="fa fa-link"> Permanent url</i>{{/link-to}}</p>
<a href="http://vk.com/id{{post.user.id}}"><img class="img-circle" src="{{post.user.photo100}}"></a>
<a class="name" href="http://vk.com/id{{post.user.id}}">{{get-fullname post.user.firstName post.user.lastName}}</a>
<p>{{{text-to-link post.text}}}</p>
{{#if post.attachments}}{{put-attachments attachments=post.attachments}}{{/if}}
<div class="stats">
    <div class="likes">
        <i class="fa fa-heart-o"></i>
        {{#if isLiked}}
        {{post.likes}}
        {{/if}}
    </div>
    {{#if post.commentsNum}}
        <a class="comments" {{action "toggleComments"}}>
            <i class="fa fa-comment-o"></i>
            {{post.commentsNum}}
        </a>
    {{else}}
        <div class="comments">
            <i class="fa fa-comment-o"></i>
        </div>
    {{/if}}
    <div class="reposts">
        <i class="fa fa-bullhorn"></i>
        {{#if isReposted}}
            {{post.reposts}}
        {{/if}}
    </div>
</div>
{{#if isShowingComments}}
{{read-comments postId=post.id commentsNum=post.commentsNum comments=post.comments}}
{{/if}} 