{{#liquid-spacer growWidth=false}}
{{#unless simple}}{{#link-to 'post' post.id}}<span class="time">{{get-date post.date}}</span>{{/link-to}}{{/unless}}
{{user-handler obj=post simple=simple}}
    <p>{{{text-to-link post.text}}}</p>
{{#if post.attachments}}
    {{put-attachments attachments=post.attachments}}
{{/if}}
{{#if post.repost}}
    <div class="repost">
        {{#user-handler obj=post.repost}}
        {{#unless simple}}<span class="time">{{get-date post.repost.date}}</span>{{/unless}}
        <br/>
        <i class="fa fa-retweet fa-2x"></i>
        {{/user-handler}}
        <p>{{{text-to-link post.repost.text}}}</p>
        {{#if post.repost.attachments}}{{put-attachments attachments=post.repost.attachments}}{{/if}}
    </div>
{{/if}}
<div class="stats">
    <div class="likes">
        <i class="fa fa-heart-o"></i>
        {{#if isLiked}}
        {{post.likes}}
        {{/if}}
    </div>
    {{#if post.commentsNum}}
        <a class="comments" {{action "toggleComments"}}>
            <i class="fa fa-comment-o"></i>
            {{post.commentsNum}}
        </a>
    {{else}}
        <div class="comments">
            <i class="fa fa-comment-o"></i>
        </div>
    {{/if}}
    <div class="reposts">
        <i class="fa fa-bullhorn"></i>
        {{#if isReposted}}
            {{post.reposts}}
        {{/if}}
    </div>
</div>
{{#if isShowingComments}}
{{read-comments postId=post.id commentsNum=post.commentsNum comments=post.comments simple=simple}}
{{/if}}
{{/liquid-spacer}}