{{#unless simple}}{{#link-to 'post' post.id}}<span class="time">{{get-date post.date}}</span>{{/link-to}}{{/unless}}
<div class="user">
    <a href="http://vk.com/{{define-poster user=post.user.id group=post.group.screenName}}">
{{#if simple}}
        <object class="user-overlay s50">
    {{#if post.user}}
        <img class="img-circle" src="{{post.user.photo50}}" onerror="this.style.display='none'">
    {{else}}
        <img class="img-circle" src="{{post.group.photo50}}" onerror="this.style.display='none'">
    {{/if}}
        </object>
{{else}}
        <object class="user-overlay s100">
    {{#if post.user}}
        <img class="img-circle" src="{{post.user.photo100}}" onerror="this.style.display='none'">
    {{else}}
        <img class="img-circle" src="{{post.group.photo100}}" onerror="this.style.display='none'">
    {{/if}}
        </object>
{{/if}}
{{#if post.user}}
    {{#if (eq post.user.online '1')}}
    <span class="online"></span>
    {{/if}}
{{/if}}
</a>
{{#if post.user}}
    <a class="name" href="http://vk.com/id{{post.user.id}}">{{post.user.fullName}}</a>
{{else}}
    <a class="name" href="http://vk.com/{{post.group.screenName}}">{{post.group.screenName}}</a>
{{/if}}
</div>
<p>{{{text-to-link post.text}}}</p>
{{#if post.attachments}}{{put-attachments attachments=post.attachments}}{{/if}}
<div class="stats">
    <div class="likes">
        <i class="fa fa-heart-o"></i>
        {{#if isLiked}}
        {{post.likes}}
        {{/if}}
    </div>
    {{#if post.commentsNum}}
        <a class="comments" {{action "toggleComments"}}>
            <i class="fa fa-comment-o"></i>
            {{post.commentsNum}}
        </a>
    {{else}}
        <div class="comments">
            <i class="fa fa-comment-o"></i>
        </div>
    {{/if}}
    <div class="reposts">
        <i class="fa fa-bullhorn"></i>
        {{#if isReposted}}
            {{post.reposts}}
        {{/if}}
    </div>
</div>
{{#if isShowingComments}}
{{read-comments postId=post.id commentsNum=post.commentsNum comments=post.comments simple=simple}}
{{/if}} 