<div class="col-xs-3 col-grow-3 col-sm-4 col-md-4 col-lg-4 text-center">
    <p>
    {{stats-icon tagName='span' icon='fa-comment-o'}}:<b>{{comments}}</b>
    </p>
</div>
<div class="col-xs-3 col-grow-3 col-sm-4 col-md-4 col-lg-4 text-center">
    <p>
    {{stats-icon tagName='span' icon='fa-user-o'}}:<b>{{users}}</b>
    </p>
</div>
<div class="col-xs-3 col-grow-3 col-sm-4 col-md-4 col-lg-4 text-center">
    <p>
    {{stats-icon tagName='span' icon='fa-heart-o'}}:<b>{{likes}}</b>
    </p>
</div>
