{{#if list}}
    {{#put-stats list=list action=changeAmount}}
        <div class="pull-right">
            {{input type="number" 
                name="amount" 
                value=amount 
                size=4 
                maxlength=4 
                min=1 
                max=1000 
                step=10
                key-down="updateValue" 
                key-up="validateInput"
                focus-in="focus"
            }}
            <button type="button" class="btn btn-primary loadMore" {{action "changeAmount" amount}}><i class="fa fa-plus"><span class="placeholder">{{amount}}</span></i></button>
        </div>
    {{/put-stats}}
{{else}}
    {{loader-img show=true}}
{{/if}}
{{liquid-outlet}}
