<div class="statistics">
    <div class="container">
        {{#stats-title-row}}
            <h3>
                Для статистики проанализировано <b>{{list.posts}}</b> {{format-ending num=list.posts word='post'}}
            </h3>
        {{/stats-title-row}}
        {{stats-header comments=list.comments likes=list.likes users=list.users}}
        {{#stats-title-row}}
            <h4>Топ-{{array-length portion}} {{format-ending num=(array-length portion) word='user'}} по общему количеству полученных лайков (посты и комментарии):</h4>
        {{/stats-title-row}}
        {{stats-row class="toplikes" lists=portion total=list.likes size='col-md-2' act='получил' word='like'}}
        {{#if renderButton}}
            <div class="text-center">
                <button type="button" class="btn btn-primary" {{action "loadMore"}}><i class="fa fa-plus"> {{portionNumber}}</i></button>
            </div>
        {{/if}}
    </div>
</div>