<nav class="menu">
{{#link-to 'index'}}<i class="fa fa-arrow-left"></i> Вернуться на стену{{/link-to}}
    <a class="scrollTop" {{action 'scrollTop'}}>
        <i class="fa fa-arrow-up"></i> Вверх
    </a>
    <a class="scrollBot" {{action 'scrollBot'}}>
        <i class="fa fa-arrow-down"></i> Вниз
    </a>
</nav>
<div class="container post-page">
{{#if model.posts}}
{{#each model.posts as |post|}}
    {{single-post post=post}}
{{/each}}
{{else if model.id}}
    {{single-post post=model}}
{{else}}
    <h2 class="text-center"><i class="fa fa-remove"></i> Error: 404</h2>
    <h3 class="text-center">Пост с id:{{postId}} не существует</h3>
{{/if}}
</div>